html {
    min-height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2019/11/07/14/09/sky-4608972_960_720.jpg);
    background-size: cover;
    }

* {
    margin: 0;
    }

.container { 
    background-color: rgb(219, 238, 245);
    }   

.text {
    text-align: right;
    padding: 20px;
    }
        
.signup{
    background-color:rgb(203, 228, 236);
    border: 2px solid grey;
    margin: 100px auto;
    width: 250px;
    padding: 7px;
    text-align: center;
    }

label{text-align: left;}